[submodule "syllabus-resources"]
	path = syllabus-resources
	url = https://github.com/gdmgent-1819/syllabus-resources.git
[submodule "references/reference-php"]
	path = references/reference-php
	url = https://github.com/gdmgent/reference-php.git
